body {
    padding: 2em;
    font-family: 'Nunito', sans-serif;
}

h2 {
    font-size: 1.8em;
}

p {
    margin-top: -1em;
    line-height: 1.6em;
}

button {
    margin: auto;
    border: none;
    border-radius: 2em;
    width: 90%;
    height: 50px;
    font-family: inherit;
    font-weight: bold;
    font-size: 18px
}

.container {
    box-sizing: border-box;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(320px, 1fr) );
    grid-gap: 40px 10px;
}

.card-container {
    box-sizing: border-box;
    padding: 30px;
    height: 100%;
    border-radius: 30px;
    width: 320px;
    justify-self: center;
    border: 1px solid black;
}

.card {
    box-sizing: border-box;
    border: none;
    border-radius: 30px;
    padding: 20px;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    width: 100%;
    height: 600px;
}

#card-container-1, #card-container-2, #card-container-3 {
    background-color: white;
}

#card-1-button, #card-2-button {
    background-color: white;
}

#card-1 {
    background-image: linear-gradient(to bottom right, #7E1F86, #2E5EAA);
    color: white;
    box-shadow: 9px 9px 9px #826587;
}

#card-2 {
    background-image: linear-gradient(to bottom right, #6DAD4E, #094D92);
    color: white;
    box-shadow: 9px 9px 9px #81A37A;
}

#card-3 {
    background-image: linear-gradient(to bottom right, #7E1F86, #FC440F);
    color: white;
    box-shadow: 9px 9px 9px #826587;
}

#card-3-button {
    background-image: linear-gradient(to right, #ff9984, #FFFFFF);
}

#card-container-4 {
    background-color: #77258A;
}

#card-4 {
    background-image: linear-gradient(to bottom right, #f5d1ff, #8aaef7);
    color: #77258A;
    box-shadow: 9px 9px 9px rgba(0, 0, 0, .3);
}

#card-4-button {
    background-image: linear-gradient(to right, #7E1F86, #2E5EAA);
    color: white;
}

#card-container-5 {
    background-color: #EEEEEE;
}

#card-5 {
    background-color: #EEEEEE;
    box-shadow:
            12px 12px 12px rgba(0, 0, 0, .06),
            -12px -12px 12px rgba(255, 255, 255, .75);
}

#card-5-button {
    background-color: #4C4C4C;
    color: white;
}

#card-container-6 {
    background-color: #f7ec96;
}

#card-6 {
    background-color: #f7ec96;
    box-shadow:
            9px 9px 9px #9e9558,
            -9px -9px 9px #f9f2bd;
}

#card-6-button {
    background-color: #FC440F;
    color: white;
}

#card-container-7 {
    background-color: #fcaef5;
}

#card-7 {
    background-color: #fcaef5;
    box-shadow:
            9px 9px 9px #c487be,
            -9px -9px 9px #f9d6f6;
}

#card-7-button {
    background-color: #7E1F86;
    color: white;
}

#card-container-8 {
    background-color: #333333;
}

#card-8 {
    color: white;
    background-color: #333333;
    box-shadow:
            9px 9px 9px #1c1b1b,
            -9px -9px 9px #3C3B3C;
}

#card-8-button {
    background-color: white;
}
